.welcomeMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin-bottom: 1rem;
}

#heading {
  color: #fff;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.sub {
  font-weight: 100;
  font-style: italic;
  color: rgb(182, 182, 182);
  font-size: 1.25rem;
}

.inputs {
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

#linkInput {
  background-color: rgba(243, 244, 246, 1);
  color: rgba(17, 24, 39, 1);
  border: 2.5px solid rgba(243, 244, 246, 1);
}

#linkInput:focus {
  outline: none !important;
  border: 2.5px solid #1db954;
}

#submit {
  color: #fff;
  border: 2.5px solid #1db954;
  background-color: #1db954;
  margin-left: 0.75rem;
}

#submit:hover {
  background-color: #50bb75;
  cursor: pointer;
}

#separatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#separatorContainer p {
  margin: 1.25rem 0;
}

.separator {
  width: 1px;
  height: 3rem;
  background-color: rgb(53, 51, 51);
}

#inputSection {
  gap: 2rem;
  flex-direction: row;
}

#loginBtn {
  background-color: #1db954;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
}

#loginBtn a {
  align-items: center;
  justify-content: center;
  display: flex;
  color: inherit;
  text-decoration: none;
}

#loginBtn a img {
  width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
}

#loginBtn:hover {
  background-color: #50bb75;
  cursor: pointer;
}