.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: x-small;
}

.footer span {
  max-width: 126px;
}

#author {
  padding-right: 1.5rem;
}

#author a {
  text-decoration: underline;
}

@media screen and (max-width: 580px) {
  .footer {
    text-align: center;
    flex-direction: column;
    margin: 0 0.25rem;
    gap: 0.5rem;
  }

  #author {
    padding-right: 0;
  }

  .footer span {
    max-width: fit-content;
  }
}