.avatar {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  background-size: 30px;
  border-radius: 50%;
}

.profile {
  animation: fadein 0.05s ease-out 1.5s forwards;
}

.profile {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 1.5rem;
}

.profile:hover {
  background-color: var(--dark-gray);
}

#username {
  margin-inline-start: 10px;
  font-weight: 500;
  font-size: 0.85rem;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  font-weight: 700;
}

#dropdown-arrow {
  margin-inline-start: 10px;
  transition: transform 0.1s ease 0s;
  width: 8px;
  height: 12px;
}

.dropdown-active {
  transform: rotate(180deg);
}

@media screen and (max-width: 580px) {
  #username {
    display: none;
  }
}