.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0.5rem;
}

.app::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 5rem;
}

.contentContainer {
  height: fit-content;
  width: 100%;
  position: relative;
  margin-left: 11.5rem;
  overflow-y: auto;
}

.closed.contentContainer {
  margin-left: 5rem;
}

.mainContent {
  margin: 1rem;
  min-height: 86vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

@media screen and (max-width: 700px) {
  .contentContainer {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 580px) {
  .contentContainer {
    margin-left: 0rem;
  }

  .closed.contentContainer {
    margin-left: 0rem;
  }

  .mainContent {
    min-height: 80vh;
  }
}